# Java
*.class
*.war
*.ear
*.jar
target/
build/

# Spring Boot
spring-boot-starter-*/

# Vue.js
node_modules/
/dist/
npm-debug.log

# MongoDB
db/

# Visual Studio Code
.vscode/
.settings/
*.code-workspace
.history/
.idea/

# General
.DS_Store
Thumbs.db
*.log