@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: "Nunito";
    src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
  }

  *{
    padding: 0;
    left: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
  }
  
  .sidebar-container{
    @apply bg-emerald-600 shadow-stone-800 dark:bg-emerald-950 dark:shadow-stone-500 h-[96%] w-[16rem]
    rounded-xl ml-2 p-2 border-2 transition-all duration-500 border-solid border-emerald-900;
  }
}